@use "sass:color";
@use "sass:meta";
@use "sass:list";
@use "sass:math";

$light-1: #f3e2ce;
$light-2: #e0d5c7;
$light-3: #beb8b1;
$dark-0: #0f0f14;
$dark-1: #1e1e23;
$dark-2: #2a2a2e;
$dark-3: #3a3a3e;
$dark-4: #3a3a3e;
$primary-1: #ffb230;
$primary-2: #b97d19;
$secondary-1: #3052ff;
$secondary-2: #31218e;
// $primary-color: $primary-1;
// $background-color: $dark-2;
// $background-color-2: $dark-3;
// $background-color-0: $dark-2-transparent;
// $background-color-alt: $light-1;
// $text-color: $light-1;
