@use "sass:color";
@use "sass:meta";
@use "sass:list";
@use "sass:math";

$base-path: "/rolebrew-site";
@import url("./fonts.css");

$light-1: #f4daba;
$light-2: #ddccb6;
$light-3: #b6ab9e;
$dark-0: #0f0f14;
$dark-1: #1e1e23;
$dark-2: #2a2a2e;
$dark-3: #3a3a3e;
$dark-4: #3a3a3e;
$primary-1: #ffb230;
$primary-2: #b97d19;
$secondary-1: #3052ff;
$secondary-2: #31218e;
// $primary-color: $primary-1;
// $background-color: $dark-2;
// $background-color-2: $dark-3;
// $background-color-0: $dark-2-transparent;
// $background-color-alt: $light-1;
// $text-color: $light-1;

@mixin create-color-transparencies($color-name, $color-value) {
    --#{$color-name}: #{$color-value};
    @each $t in $transparencies {
        @include color-transparency($color-name, $color-name, $color-value, $t);
    }
}

@mixin target-create-color-transparencies($target-color-name, $color-name, $color-value) {
    --#{$target-color-name}: #{$color-value};
    @each $t in $transparencies {
        @include color-transparency($target-color-name, $color-name, $color-value, $t);
    }
}

@mixin color-transparency($target-color-name, $color-name, $color-value, $transparency) {
    --#{$target-color-name}-#{$transparency}: #{rgba($color-value, math.div($transparency, 100))};
}

$transparencies: 10, 25, 50, 85, 100;

:root {
    @include create-color-transparencies("light-1", $light-1);
    @include create-color-transparencies("light-2", $light-2);
    @include create-color-transparencies("light-3", $light-3);
    @include create-color-transparencies("dark-0", $dark-0);
    @include create-color-transparencies("dark-1", $dark-1);
    @include create-color-transparencies("dark-2", $dark-2);
    @include create-color-transparencies("dark-3", $dark-3);
    @include create-color-transparencies("dark-4", $dark-4);
    @include create-color-transparencies("primary-1", $primary-1);
    @include create-color-transparencies("primary-2", $primary-2);
    @include create-color-transparencies("secondary-1", $secondary-1);
    @include create-color-transparencies("secondary-2", $secondary-2);

    // --primary-color: $primary-color;
    // --primary-color-transparent: $primary-color-transparent;
    // --background-color: $background-color;
    // --background-color-2: $background-color-2;
    // --background-color-0: $background-color-0;
    // --background-color-alt: $background-color-alt;
    // --text-color: $text-color;

    // sizes

    --h1-size: 4rem;
    --h2-size: 2.5rem;
    --h3-size: 2rem;
    --h4-size: 1.5rem;

    //

    --max-content-width: 80rem;
    --sidebar-width: 16rem;
    --nav-height: 4rem;

    //

    font-size: 16px;

    width: 100vw;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: -1;
    position: relative;
    scroll-behavior: smooth;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    letter-spacing: 0.025rem;
    color: var(--text-color);
    line-height: 1.5;
}

body {
    width: 100vw;
    min-height: 100vh;

    background-color: var(--background-color);

    color: var(--text-color);

    display: flex;
    flex-direction: column;

    &.dark {
        @include target-create-color-transparencies("primary-color", "primary-1", $primary-1);
        @include target-create-color-transparencies("background-color", "dark-1", $dark-1);
        @include target-create-color-transparencies("background-color-2", "dark-2", $dark-2);
        @include target-create-color-transparencies("background-color-3", "dark-3", $dark-3);
        @include target-create-color-transparencies("background-color-alt", "light-1", $light-1);
        @include target-create-color-transparencies("text-color", "light-1", $light-1);
    }

    &.light {
        @include target-create-color-transparencies("primary-color", "primary-2", $primary-2);
        @include target-create-color-transparencies("background-color", "light-1", $light-1);
        @include target-create-color-transparencies("background-color-2", "light-2", $light-2);
        @include target-create-color-transparencies("background-color-3", "light-3", $light-3);
        @include target-create-color-transparencies("background-color-alt", "dark-1", $dark-1);
        @include target-create-color-transparencies("text-color", "dark-1", $dark-1);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-display: swap;
    font-family: "BluuNext", serif;
    font-weight: bold;
    line-height: 1.2;
    width: fit-content;
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

code {
    font-family: "JetBrains Mono", monospace;
}

a {
    text-decoration: none;

    &:link {
        text-decoration: none;
    }

    &:active {
        text-decoration: none;
    }
}

table {
    border-collapse: collapse;
    background: var(--background-color-2);
    border-radius: 0.25rem;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;

    * {
        position: relative;
    }

    td,
    th {
        padding-left: 0.5rem;
    }

    thead tr {
        height: 2rem;

        & th {
            font-weight: bold;
            background: var(--background-color-3);
        }
    }

    tbody tr {
        height: 2rem;
        &:last-child {
            border: 0;
        }

        & td {
            color: var(--text-color-85);
        }
    }

    td,
    th {
        text-align: left;
    }
}

button {
    padding: 0.5rem 1rem;
    background: var(--text-color);
    color: var(--background-color);
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 250ms ease-out;

    &:hover {
        // background: color.change($text-color, $lightness: 25%);
    }

    &.active {
        background-color: var(--primary-color);
    }
}

.placeholder {
    border-radius: 0.5rem;
    opacity: 0.25;

    /*  */
    background: #f4daba;
    background: linear-gradient(90deg, #f4daba44 0%, #f4daba88 25%, #f4daba44 50%, #f4daba44 100%);
    background-size: 400% 400%;
    --animation-time: 2s;
    animation-name: placeholder, placeholder-start;
    animation-duration: 2s, 1s;
    animation-iteration-count: infinite, 1;
}

@keyframes placeholder {
    0% {
        background-position: 133% 0%;
    }

    100% {
        background-position: 0% 133%;
    }
}

@keyframes placeholder-start {
    50%,
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.25;
    }
}

/* Margins */
.m-0 {
    margin-bottom: 0rem;
}

.m-1 {
    margin-bottom: 0.25rem;
}

.m-2 {
    margin-bottom: 0.5rem;
}

.m-3 {
    margin-bottom: 1rem;
}

.m-4 {
    margin-bottom: 2rem;
}

.m-5 {
    margin-bottom: 4rem;
}

.max-width-wrapper {
    width: 100%;
}

/* Parallax */
.parallax-base {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    transform-style: preserve-3d;
    perspective: 2rem;
    perspective-origin: center;
}

.parallax-base.full {
    height: 100%;
}

.parallax-layer {
    position: absolute;
    transform-style: preserve-3d;
}

.parallax-none {
    transform: translateZ(0) scale(1);
}

.parallax-0 {
    transform: translateZ(-1rem) scale(1.5);
    z-index: 0;
}

.parallax-1 {
    transform: translateZ(-2rem) scale(2);
    z-index: 1;
}

.parallax-2 {
    transform: translateZ(-3rem) scale(2.5);
    z-index: 2;
}

.parallax-3 {
    transform: translateZ(-4rem) scale(3);
    z-index: 3;
}

.parallax-4 {
    transform: translateZ(-5rem) scale(3.5);
    z-index: 4;
}

.parallax-5 {
    transform: translateZ(-6rem) scale(4);
    z-index: 5;
}

@media (min-width: 0rem) {
    .max-width-wrapper {
        padding: 0 2rem;
    }
}

@media (min-width: 84rem) {
    .max-width-wrapper {
        padding: 0;
        max-width: var(--max-content-width);
    }
}
