$base-path: '/rolebrew-site';

@font-face {
    font-family: 'BluuNext';
    src: url('#{$base-path}/fonts/BluuNext-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


:root {
    --light-1: #f4daba;
    --light-1-transparent: #f4daba00;
    --light-2: #DEBD95;

    --dark-1: #2f2d2b;
    --dark-1-transparent: #2f2d2b00;
    --dark-2: #393835;

    --accent-1: #ffb230;
    --accent-1-transparent: #ffb23000;
    --accent-2: #b97d19;
    --accent-2-transparent: #b97d1900;

    font-size: 16px;

    width: 100vw;
    height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: -1;
    position: relative;
    scroll-behavior: smooth;
    font-family: 'Manrope', sans-serif;
    color: var(--text-color);
}

body {

    --light-1: #f4daba;
    --light-1-transparent: #f4daba00;
    --light-2: #DEBD95;

    --dark-1: #2f2d2b;
    --dark-1-transparent: #2f2d2b00;
    --dark-2: #393835;

    --accent-1: #ffb230;
    --accent-1-transparent: #ffb23000;
    --accent-2: #b97d19;
    --accent-2-transparent: #b97d1900;

    --accent-color: var(--accent-1);
    --accent-color-transparent: var(--accent-1-transparent);
    --background-color: var(--dark-1);
    --background-color-2: var(--dark-2);
    --background-color-0: var(--dark-1-transparent);
    --background-color-alt: var(--light-1);
    --text-color: var(--light-1);

    width: 100vw;
    height: 100vh;

    background-color: var(--dark-1);
    background-image: url("noises/bg-01.webp");
    background-size: 1024px 1024px;
    background-repeat: repeat;
    background-blend-mode: color-dodge, normal;
    color: var(--text-color);

    // transition: background-color 1s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-display: swap;
    font-family: "BluuNext", serif;
    font-weight: bold;
}

/* Margins */
.m-0 {
    margin-bottom: 0rem;
}

.m-1 {
    margin-bottom: 0.25rem;
}

.m-2 {
    margin-bottom: 0.5rem;
}

.m-3 {
    margin-bottom: 1rem;
}

.m-4 {
    margin-bottom: 2rem;
}

.m-5 {
    margin-bottom: 4rem;
}

/* Parallax */
.parallax-base {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    transform-style: preserve-3d;
    perspective: 2rem;
    perspective-origin: center;
}

.parallax-base.full {
    height: 100%;
}

.parallax-layer {
    position: absolute;
    transform-style: preserve-3d;
}

.parallax-none {
    transform: translateZ(0) scale(1);
}

.parallax-0 {
    transform: translateZ(-1rem) scale(1.5);
    z-index: 0;
}

.parallax-1 {
    transform: translateZ(-2rem) scale(2);
    z-index: 1;
}

.parallax-2 {
    transform: translateZ(-3rem) scale(2.5);
    z-index: 2;
}

.parallax-3 {
    transform: translateZ(-4rem) scale(3);
    z-index: 3;
}

.parallax-4 {
    transform: translateZ(-5rem) scale(3.5);
    z-index: 4;
}

.parallax-5 {
    transform: translateZ(-6rem) scale(4);
    z-index: 5;
}