$base-path: "/rolebrew-site";

@font-face {
    font-family: "BluuNext";
    src: url("#{$base-path}/fonts/BluuNext-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("#{$base-path}/fonts/JetBrainsMono-Regular.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

:root {
    --light-1: #f4daba;
    --light-1-transparent: #f4daba00;
    --light-2: #debd95;

    --dark-0: #0f0f14;
    --dark-0-transparent: #0f0f1400;
    --dark-1: #1e1e23;
    --dark-1-transparent: #1e1e2300;
    --dark-2: #2a2a2e;
    --dark-2-transparent: #2a2a2e00;
    --dark-3: #3a3a3e;
    --dark-3-transparent: #3a3a3e00;

    --primary-1: #ffb230;
    --primary-1-transparent: #ffb23000;
    --primary-2: #b97d19;
    --primary-2-transparent: #b97d1900;

    --secondary-1: #3052ff;
    --secondary-1-transparent: #3052ff00;
    --secondary-2: #31218e;
    --secondary-2-transparent: #31218e00;

    --primary-color: var(--primary-1);
    --primary-color-transparent: var(--primary-1-transparent);
    --background-color: var(--dark-2);
    --background-color-2: var(--dark-3);
    --background-color-0: var(--dark-2-transparent);
    --background-color-alt: var(--light-1);
    --text-color: var(--light-1);

    // sizes

    --h1-size: 4rem;
    --h2-size: 2.5rem;
    --h3-size: 2rem;
    --h4-size: 1.5rem;

    //

    --max-content-width: 80rem;
    --sidebar-width: 16rem;

    //

    font-size: 16px;

    width: 100vw;
    height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: -1;
    position: relative;
    scroll-behavior: smooth;
    font-family: "Manrope", sans-serif;
    color: var(--text-color);
    line-height: 1.5;
}

body {
    

    width: 100vw;
    height: 100vh;

    background-color: var(--dark-2);

    color: var(--text-color);

    display: flex;
    flex-direction: column;

    // transition: background-color 1s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-display: swap;
    font-family: "BluuNext", serif;
    font-weight: bold;
    line-height: 1.2;
    width: fit-content;
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

code {
    font-family: "JetBrains Mono", monospace;
}

/* Margins */
.m-0 {
    margin-bottom: 0rem;
}

.m-1 {
    margin-bottom: 0.25rem;
}

.m-2 {
    margin-bottom: 0.5rem;
}

.m-3 {
    margin-bottom: 1rem;
}

.m-4 {
    margin-bottom: 2rem;
}

.m-5 {
    margin-bottom: 4rem;
}

.max-width-wrapper {
    width: 100%;
}

/* Parallax */
.parallax-base {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    transform-style: preserve-3d;
    perspective: 2rem;
    perspective-origin: center;
}

.parallax-base.full {
    height: 100%;
}

.parallax-layer {
    position: absolute;
    transform-style: preserve-3d;
}

.parallax-none {
    transform: translateZ(0) scale(1);
}

.parallax-0 {
    transform: translateZ(-1rem) scale(1.5);
    z-index: 0;
}

.parallax-1 {
    transform: translateZ(-2rem) scale(2);
    z-index: 1;
}

.parallax-2 {
    transform: translateZ(-3rem) scale(2.5);
    z-index: 2;
}

.parallax-3 {
    transform: translateZ(-4rem) scale(3);
    z-index: 3;
}

.parallax-4 {
    transform: translateZ(-5rem) scale(3.5);
    z-index: 4;
}

.parallax-5 {
    transform: translateZ(-6rem) scale(4);
    z-index: 5;
}

@media (min-width: 0rem) {
    .max-width-wrapper {
        padding: 0 2rem;
    }
}

@media (min-width: 84rem) {
    .max-width-wrapper {
        padding: 0;
        max-width: var(--max-content-width);
    }
}
