:root {
  --light-1: #f3e2ce;
  --light-1-0: rgba(243, 226, 206, 0);
  --light-1-10: rgba(243, 226, 206, 0.1);
  --light-1-25: rgba(243, 226, 206, 0.25);
  --light-1-50: rgba(243, 226, 206, 0.5);
  --light-1-85: rgba(243, 226, 206, 0.85);
  --light-1-100: #f3e2ce;
  --light-2: #e0d5c7;
  --light-2-0: rgba(224, 213, 199, 0);
  --light-2-10: rgba(224, 213, 199, 0.1);
  --light-2-25: rgba(224, 213, 199, 0.25);
  --light-2-50: rgba(224, 213, 199, 0.5);
  --light-2-85: rgba(224, 213, 199, 0.85);
  --light-2-100: #e0d5c7;
  --light-3: #beb8b1;
  --light-3-0: rgba(190, 184, 177, 0);
  --light-3-10: rgba(190, 184, 177, 0.1);
  --light-3-25: rgba(190, 184, 177, 0.25);
  --light-3-50: rgba(190, 184, 177, 0.5);
  --light-3-85: rgba(190, 184, 177, 0.85);
  --light-3-100: #beb8b1;
  --dark-0: #0f0f14;
  --dark-0-0: rgba(15, 15, 20, 0);
  --dark-0-10: rgba(15, 15, 20, 0.1);
  --dark-0-25: rgba(15, 15, 20, 0.25);
  --dark-0-50: rgba(15, 15, 20, 0.5);
  --dark-0-85: rgba(15, 15, 20, 0.85);
  --dark-0-100: #0f0f14;
  --dark-1: #1e1e23;
  --dark-1-0: rgba(30, 30, 35, 0);
  --dark-1-10: rgba(30, 30, 35, 0.1);
  --dark-1-25: rgba(30, 30, 35, 0.25);
  --dark-1-50: rgba(30, 30, 35, 0.5);
  --dark-1-85: rgba(30, 30, 35, 0.85);
  --dark-1-100: #1e1e23;
  --dark-2: #2a2a2e;
  --dark-2-0: rgba(42, 42, 46, 0);
  --dark-2-10: rgba(42, 42, 46, 0.1);
  --dark-2-25: rgba(42, 42, 46, 0.25);
  --dark-2-50: rgba(42, 42, 46, 0.5);
  --dark-2-85: rgba(42, 42, 46, 0.85);
  --dark-2-100: #2a2a2e;
  --dark-3: #3a3a3e;
  --dark-3-0: rgba(58, 58, 62, 0);
  --dark-3-10: rgba(58, 58, 62, 0.1);
  --dark-3-25: rgba(58, 58, 62, 0.25);
  --dark-3-50: rgba(58, 58, 62, 0.5);
  --dark-3-85: rgba(58, 58, 62, 0.85);
  --dark-3-100: #3a3a3e;
  --dark-4: #3a3a3e;
  --dark-4-0: rgba(58, 58, 62, 0);
  --dark-4-10: rgba(58, 58, 62, 0.1);
  --dark-4-25: rgba(58, 58, 62, 0.25);
  --dark-4-50: rgba(58, 58, 62, 0.5);
  --dark-4-85: rgba(58, 58, 62, 0.85);
  --dark-4-100: #3a3a3e;
  --primary-1: #ffb230;
  --primary-1-0: rgba(255, 178, 48, 0);
  --primary-1-10: rgba(255, 178, 48, 0.1);
  --primary-1-25: rgba(255, 178, 48, 0.25);
  --primary-1-50: rgba(255, 178, 48, 0.5);
  --primary-1-85: rgba(255, 178, 48, 0.85);
  --primary-1-100: #ffb230;
  --primary-2: #b97d19;
  --primary-2-0: rgba(185, 125, 25, 0);
  --primary-2-10: rgba(185, 125, 25, 0.1);
  --primary-2-25: rgba(185, 125, 25, 0.25);
  --primary-2-50: rgba(185, 125, 25, 0.5);
  --primary-2-85: rgba(185, 125, 25, 0.85);
  --primary-2-100: #b97d19;
  --secondary-1: #3052ff;
  --secondary-1-0: rgba(48, 82, 255, 0);
  --secondary-1-10: rgba(48, 82, 255, 0.1);
  --secondary-1-25: rgba(48, 82, 255, 0.25);
  --secondary-1-50: rgba(48, 82, 255, 0.5);
  --secondary-1-85: rgba(48, 82, 255, 0.85);
  --secondary-1-100: #3052ff;
  --secondary-2: #31218e;
  --secondary-2-0: rgba(49, 33, 142, 0);
  --secondary-2-10: rgba(49, 33, 142, 0.1);
  --secondary-2-25: rgba(49, 33, 142, 0.25);
  --secondary-2-50: rgba(49, 33, 142, 0.5);
  --secondary-2-85: rgba(49, 33, 142, 0.85);
  --secondary-2-100: #31218e;
  --h1-size: 4rem;
  --h2-size: 2.5rem;
  --h3-size: 2rem;
  --h4-size: 1.5rem;
  --max-content-width: 80rem;
  --sidebar-width: 16rem;
  --nav-height: 4rem;
  font-size: 16px;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: -1;
  position: relative;
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  letter-spacing: 0.025rem;
  color: var(--text-color);
  line-height: 1.5;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  --horizontal-border-gradient: linear-gradient(
          to right,
          var(--primary-color-25) 0%,
          var(--primary-color) 50%,
          var(--primary-color-25) 100%
      )
      1;
}
body.dark {
  --primary-color: #ffb230;
  --primary-color-0: rgba(255, 178, 48, 0);
  --primary-color-10: rgba(255, 178, 48, 0.1);
  --primary-color-25: rgba(255, 178, 48, 0.25);
  --primary-color-50: rgba(255, 178, 48, 0.5);
  --primary-color-85: rgba(255, 178, 48, 0.85);
  --primary-color-100: #ffb230;
  --secondary-color: #3052ff;
  --secondary-color-0: rgba(48, 82, 255, 0);
  --secondary-color-10: rgba(48, 82, 255, 0.1);
  --secondary-color-25: rgba(48, 82, 255, 0.25);
  --secondary-color-50: rgba(48, 82, 255, 0.5);
  --secondary-color-85: rgba(48, 82, 255, 0.85);
  --secondary-color-100: #3052ff;
  --background-color: #1e1e23;
  --background-color-0: rgba(30, 30, 35, 0);
  --background-color-10: rgba(30, 30, 35, 0.1);
  --background-color-25: rgba(30, 30, 35, 0.25);
  --background-color-50: rgba(30, 30, 35, 0.5);
  --background-color-85: rgba(30, 30, 35, 0.85);
  --background-color-100: #1e1e23;
  --background-color-2: #2a2a2e;
  --background-color-2-0: rgba(42, 42, 46, 0);
  --background-color-2-10: rgba(42, 42, 46, 0.1);
  --background-color-2-25: rgba(42, 42, 46, 0.25);
  --background-color-2-50: rgba(42, 42, 46, 0.5);
  --background-color-2-85: rgba(42, 42, 46, 0.85);
  --background-color-2-100: #2a2a2e;
  --background-color-3: #3a3a3e;
  --background-color-3-0: rgba(58, 58, 62, 0);
  --background-color-3-10: rgba(58, 58, 62, 0.1);
  --background-color-3-25: rgba(58, 58, 62, 0.25);
  --background-color-3-50: rgba(58, 58, 62, 0.5);
  --background-color-3-85: rgba(58, 58, 62, 0.85);
  --background-color-3-100: #3a3a3e;
  --background-color-alt: #f3e2ce;
  --background-color-alt-0: rgba(243, 226, 206, 0);
  --background-color-alt-10: rgba(243, 226, 206, 0.1);
  --background-color-alt-25: rgba(243, 226, 206, 0.25);
  --background-color-alt-50: rgba(243, 226, 206, 0.5);
  --background-color-alt-85: rgba(243, 226, 206, 0.85);
  --background-color-alt-100: #f3e2ce;
  --text-color: #f3e2ce;
  --text-color-0: rgba(243, 226, 206, 0);
  --text-color-10: rgba(243, 226, 206, 0.1);
  --text-color-25: rgba(243, 226, 206, 0.25);
  --text-color-50: rgba(243, 226, 206, 0.5);
  --text-color-85: rgba(243, 226, 206, 0.85);
  --text-color-100: #f3e2ce;
}
body.light {
  --primary-color: #b97d19;
  --primary-color-0: rgba(185, 125, 25, 0);
  --primary-color-10: rgba(185, 125, 25, 0.1);
  --primary-color-25: rgba(185, 125, 25, 0.25);
  --primary-color-50: rgba(185, 125, 25, 0.5);
  --primary-color-85: rgba(185, 125, 25, 0.85);
  --primary-color-100: #b97d19;
  --secondary-color: #31218e;
  --secondary-color-0: rgba(49, 33, 142, 0);
  --secondary-color-10: rgba(49, 33, 142, 0.1);
  --secondary-color-25: rgba(49, 33, 142, 0.25);
  --secondary-color-50: rgba(49, 33, 142, 0.5);
  --secondary-color-85: rgba(49, 33, 142, 0.85);
  --secondary-color-100: #31218e;
  --background-color: #f3e2ce;
  --background-color-0: rgba(243, 226, 206, 0);
  --background-color-10: rgba(243, 226, 206, 0.1);
  --background-color-25: rgba(243, 226, 206, 0.25);
  --background-color-50: rgba(243, 226, 206, 0.5);
  --background-color-85: rgba(243, 226, 206, 0.85);
  --background-color-100: #f3e2ce;
  --background-color-2: #e0d5c7;
  --background-color-2-0: rgba(224, 213, 199, 0);
  --background-color-2-10: rgba(224, 213, 199, 0.1);
  --background-color-2-25: rgba(224, 213, 199, 0.25);
  --background-color-2-50: rgba(224, 213, 199, 0.5);
  --background-color-2-85: rgba(224, 213, 199, 0.85);
  --background-color-2-100: #e0d5c7;
  --background-color-3: #beb8b1;
  --background-color-3-0: rgba(190, 184, 177, 0);
  --background-color-3-10: rgba(190, 184, 177, 0.1);
  --background-color-3-25: rgba(190, 184, 177, 0.25);
  --background-color-3-50: rgba(190, 184, 177, 0.5);
  --background-color-3-85: rgba(190, 184, 177, 0.85);
  --background-color-3-100: #beb8b1;
  --background-color-alt: #1e1e23;
  --background-color-alt-0: rgba(30, 30, 35, 0);
  --background-color-alt-10: rgba(30, 30, 35, 0.1);
  --background-color-alt-25: rgba(30, 30, 35, 0.25);
  --background-color-alt-50: rgba(30, 30, 35, 0.5);
  --background-color-alt-85: rgba(30, 30, 35, 0.85);
  --background-color-alt-100: #1e1e23;
  --text-color: #1e1e23;
  --text-color-0: rgba(30, 30, 35, 0);
  --text-color-10: rgba(30, 30, 35, 0.1);
  --text-color-25: rgba(30, 30, 35, 0.25);
  --text-color-50: rgba(30, 30, 35, 0.5);
  --text-color-85: rgba(30, 30, 35, 0.85);
  --text-color-100: #1e1e23;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-display: swap;
  font-family: "BluuNext", serif;
  font-weight: bold;
  line-height: 1.2;
  width: fit-content;
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

h4 {
  font-size: var(--h4-size);
}

code {
  font-family: "JetBrains Mono", monospace;
}

a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  background: var(--background-color-2);
  border-radius: 0.25rem;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td,
table th {
  display: flex;
  height: 2rem;
  flex-direction: row;
  align-items: center;
  padding-left: 0.5rem;
  cursor: pointer;
}
table td.active,
table th.active {
  background-color: var(--primary-color-10);
}
table thead tr {
  height: 2rem;
}
table thead tr th {
  font-weight: bold;
  background: var(--background-color-3);
}
table tbody tr {
  height: 2rem;
}
table tbody tr:last-child {
  border: 0;
}
table tbody tr td {
  color: var(--text-color-85);
}
table td,
table th {
  text-align: left;
}

button {
  padding: 0.5rem 1rem;
  background: var(--text-color);
  color: var(--background-color);
  text-decoration: none;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 250ms ease-out;
}
button.active {
  background-color: var(--primary-color);
}

.placeholder {
  border-radius: 0.5rem;
  opacity: 0.25;
  /*  */
  background: #f4daba;
  background: linear-gradient(90deg, rgba(244, 218, 186, 0.2666666667) 0%, rgba(244, 218, 186, 0.5333333333) 25%, rgba(244, 218, 186, 0.2666666667) 50%, rgba(244, 218, 186, 0.2666666667) 100%);
  background-size: 400% 400%;
  --animation-time: 2s;
  animation-name: placeholder, placeholder-start;
  animation-duration: 2s, 1s;
  animation-iteration-count: infinite, 1;
}

@keyframes placeholder {
  0% {
    background-position: 133% 0%;
  }
  100% {
    background-position: 0% 133%;
  }
}
@keyframes placeholder-start {
  50%, 0% {
    opacity: 0;
  }
  100% {
    opacity: 0.25;
  }
}
/* Margins */
.m-0 {
  margin-bottom: 0rem;
}

.m-1 {
  margin-bottom: 0.25rem;
}

.m-2 {
  margin-bottom: 0.5rem;
}

.m-3 {
  margin-bottom: 1rem;
}

.m-4 {
  margin-bottom: 2rem;
}

.m-5 {
  margin-bottom: 4rem;
}

.max-width-wrapper {
  width: 100%;
}

/* Parallax */
.parallax-base {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  transform-style: preserve-3d;
  perspective: 2rem;
  perspective-origin: center;
}

.parallax-base.full {
  height: 100%;
}

.parallax-layer {
  position: absolute;
  transform-style: preserve-3d;
}

.parallax-none {
  transform: translateZ(0) scale(1);
}

.parallax-0 {
  transform: translateZ(-1rem) scale(1.5);
  z-index: 0;
}

.parallax-1 {
  transform: translateZ(-2rem) scale(2);
  z-index: 1;
}

.parallax-2 {
  transform: translateZ(-3rem) scale(2.5);
  z-index: 2;
}

.parallax-3 {
  transform: translateZ(-4rem) scale(3);
  z-index: 3;
}

.parallax-4 {
  transform: translateZ(-5rem) scale(3.5);
  z-index: 4;
}

.parallax-5 {
  transform: translateZ(-6rem) scale(4);
  z-index: 5;
}

@media (min-width: 0rem) {
  .max-width-wrapper {
    padding: 0 2rem;
  }
}
@media (min-width: 84rem) {
  .max-width-wrapper {
    padding: 0;
    max-width: var(--max-content-width);
  }
}

/*# sourceMappingURL=styles.css.map */
